<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="header">
        <div>
            <p>&lt</p>
            <a href="/">Writeup Repo Home</a>
            <p>&gt</p>
        </div>
        <div>
            <p>&lt</p>
            <a href="/writeups/">Writeup's Collection</a>
            <p>&gt</p>
        </div>
    </div>
    <div id="error-content">
        <p>
            {{error}}
        </p>
    </div>
</body>
</html>