<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="header">
        <a href="/">&lt Writeup Repo Home &gt</a>
        <a href="/writeups/">&lt Writeup's Collection &gt</a>
    </div>
    <div id="main-content">
        <h2>
            Hello and welcome to the Writeup Repo. 
            A collection of writeups of CTFs published by
        </h2>
        <h2>Rubah Security Media</h2>
        <img src="/static/baselogo.png" alt="RubahSecurity Logo" id="rsec-logo">
    </div>
</body>
</html>