<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Something</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="folders">
        {% for folder in folders %}
            <a href="{{folder}}/">
                <p>{{folder}}</p>
            </a>
            <br>
        {% endfor %}
    </div>
    <div id="files">
        {% for file in files %}
            <a href="{{file}}">
                <p>{{file}}</p>
            </a>
            <br>
        {% endfor %}
    </div>
</body>
</html>