<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writeup Repo</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="header">
        <div>
            <p>&lt</p>
            <a href="/">Writeup Repo Home</a>
            <p>&gt</p>
        </div>
        <div>
            <p>&lt</p>
            <a href="/writeups/">Writeup's Collection</a>
            <p>&gt</p>
        </div>
    </div>
    <div id="folder-content">
        <div id="back-button">
            <a href="../">&lt;&lt; Back</a>
        </div>

        {% if folders|length > 0 %}
        <h2>Folders</h2>
        <div id="folders">
        {% for folder in folders %}
            <div class="folder-block">
                <a href="{{folder}}/">
                    <p>{{folder}}</p>
                </a>
            </div>
        {% endfor %}
        </div>
        {% endif %}

        {% if files|length > 0 %}
        <h2>Files</h2>
        <div id="files">
            {% for file in files %}
                <div class="file-block">
                    <a href="{{file}}">
                        <p>{{file}}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</body>
</html>